{% load static %} {% load safe_filters %}

<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"
      rel="stylesheet"
    />
    {% comment %} JQuery {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    {{ form.media.css }} {{form.media.js }}
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <!-- <a class="navbar-brand mr-4" href="">Django Blog</a> -->
          <a class="navbar-brand mr-4" href="#">
            <!-- Apply max-width and max-height to the logo -->
            <img src="/media/logo.png" alt="logo" style="max-width: 100px; max-height: 40px;">
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarToggle"
            aria-controls="navbarToggle"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon">
            </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">

            <div class="navbar-nav mr-auto">

              {% if user.is_authenticated %}
              <a
                class="nav-item nav-link"
                id="auth-links"
                href="{% url 'blog-home' %}"
              >
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                HOME</a
              >
              <a
                class="nav-item nav-link"
                id="auth-links"
                href="{% url 'blog-about' %}"
              >
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                ABOUT</a
              >
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a href="{% url 'blog-new' %}" id="auth-links">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Create Post
              </a>
              <a href="{% url 'profile' %}" id="auth-links">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Profile
              </a>
              <a href="{% url 'logout' %}" id="auth-links">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Logout
              </a>
              {% else %}
              <a
                class="nav-item nav-link"
                id="auth-links"
                href="{% url 'blog-home' %}"
              >
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                HOME</a
              >
              <a
                class="nav-item nav-link"
                id="auth-links"
                href="{% url 'blog-about' %}"
              >
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                ABOUT</a
              >
              <a href="{% url 'login' %}" id="auth-links">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Login
              </a>
              <a href="{% url 'register' %}" id="auth-links">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Register
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages%} {% for message in messages %}
          <div class="alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %} {% endif %}
        </div>
        <div class="col-md-8">{% block content %}{% endblock %}</div>

      </div>

      <footer class="">
        <ul
          class="nav justify-content-center border-bottom"
          style="margin-top: 60px"
        >
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted">Home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted">Features</a>
          </li>
          <li class="nav-item">
            <a href="admin/" class="nav-link px-2 text-muted">Admin</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted">FAQs</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted">About</a>
          </li>
        </ul>
        <p class="text-center text-muted">&copy; Gita 2024</p>
      </footer>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Select all img elements
        var images = document.querySelectorAll("img");

        // Apply attributes and center each image
        images.forEach(function (img) {
          img.setAttribute("max-width", "100%");
          img.setAttribute("height", "auto");
          img.style.display = "block";
          img.style.marginLeft = "auto";
          img.style.marginRight = "auto";
        });
      });
    </script>
    <style>
      .article-title {
        color: #444444;
        font-weight: bold; /* Make the text bold */
        font-size: smaller; /* Make the text smaller */
      }
     
      a.article-title:hover {
        color: #9900ff;
        text-decoration: none;
      }
    </style>
  </body>
</html>
