{% extends 'blog/base.html' %} {% load safe_filters %} {% block content %}
<article class="media content-section">
  <div class="media-body" id="article-container" style="word-wrap: break-word">
    <div class="article-metadata">
      <h1>Blog Home</h1>
      <hr />
      {% for post in posts %}
      <div class="card">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><a href="{% url 'blog-detail' post.id %}" class="article-title">{{ post.title }}</a></h5>
              <p class="card-text">
                By: {{ post.author }} on {{ post.date_posted }} <br>
                <div id="content-{{ post.id }}">
                  <!-- Content will be dynamically loaded here -->
                </div>
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <div id="image-{{ post.id }}">
                <!-- Image will be dynamically loaded here -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <script>
        // Get post content
        var postContent = '{{ post.content|replace_img_src_with_base64|safe }}';

        // Get the first image URL from post content
        var firstImage = postContent.match(/<img[^>]+src="?([^"\s]+)"?[^>]*\/>/);

        // Check if the post content contains an image
        if (firstImage !== null) {
          // Display the first image in the col-md-4 div
          document.getElementById('image-{{ post.id }}').innerHTML = firstImage[0];
        }

        // Remove images from post content and limit to 300 characters
        postContent = postContent.replace(/<img[^>]+>/g, '');
        postContent = postContent.substring(0, 300);

        // Display the modified post content in the col-md-8 div
        document.getElementById('content-{{ post.id }}').innerHTML = postContent;
      </script>

      {% endfor %}
    </div>
  </div>
</article>


<style>
  #article-container {
    width: 100%;
    margin: auto;
  }

  body {
    overflow: auto;
  }
</style>
{% endblock content %}
